.mdx {
  @apply w-full max-w-4xl text-zinc-900 dark:text-zinc-300/80 text-sm sm:text-base;
}

.mdx h1,
.mdx h2 {
  @apply text-emerald-600;
}

.mdx h3 {
  @apply text-zinc-950 dark:text-zinc-50;
}

.mdx h1 {
  @apply text-2xl font-bold mt-2;
}

.mdx h2 {
  @apply text-xl font-bold mt-10 first:mt-0;

  a {
    @apply flex items-center gap-1;
  }

  a svg {
    @apply invisible w-4 h-4 text-zinc-400 dark:text-zinc-500;
  }

  &:hover a svg {
    @apply visible;
  }
}

.mdx h3 {
  @apply text-base font-bold mt-8;

  a {
    @apply flex items-center gap-1;
  }

  a svg {
    @apply invisible w-4 h-4 text-zinc-400 dark:text-zinc-500;
  }

  &:hover a svg {
    @apply visible;
  }
}

.mdx h2,
.mdx h3 {
  a {
    @apply flex items-center font-bold hover:underline hover:underline-offset-4 hover:decoration-zinc-400 dark:hover:decoration-zinc-600;
  }
}

.mdx a:not(:is(h2, h3)>a) {
  @apply inline-flex items-center gap-0.5 text-zinc-700 dark:text-zinc-50 underline underline-offset-4 decoration-zinc-700;

  svg {
    @apply relative -top-1 w-3 h-3 text-zinc-700 dark:text-zinc-50;
  }
}

.mdx strong {
  @apply text-foreground;
}

.mdx p em>strong,
.mdx li em>strong {
  @apply text-emerald-600 font-bold dark:font-medium not-italic;
}

.mdx p>strong {
  @apply text-zinc-950 dark:text-zinc-50 font-bold;
}

.mdx blockquote {
  @apply text-zinc-900 dark:text-zinc-100 mt-6 pl-6 border-l-2 italic font-serif;
}

.mdx blockquote p::before {
  content: "\201C";
}

.mdx blockquote p::after {
  content: "\201D";
}

.mdx ol {
  @apply list-decimal my-3 pl-6;
}

.mdx ul {
  @apply list-disc pl-6;
}

.mdx ul:not(li>ul) {
  @apply list-disc my-3;
}

.mdx li {
  @apply my-4 leading-7;
}

.mdx li>ul {
  list-style-type: circle;
}

.mdx p:not(li p) {
  @apply leading-7 [&:not(:first-child)]:mt-4;
}

.mdx li p {
  @apply leading-7 mt-2;
}

.mdx pre {
  @apply relative flex flex-row gap-2 w-full my-4 py-3 px-2 rounded-lg bg-muted;
}

.mdx pre>span {
  @apply grid flex-1;
}

.mdx pre code {
  @apply grid overflow-x-auto;
  counter-reset: line;
}

.mdx code {
  @apply text-sm;
  --default-mono-font-family: var(--font-mono);
}

.mdx code:not(pre code) {
  @apply text-xs font-semibold rounded-sm border-muted bg-muted;
  padding: 0.05rem 0.25rem;
}

.mdx code>[data-line] {
  @apply flex pl-2;
}

.mdx code>[data-line]>span {
  @apply flex items-center;
}

.mdx code>[data-line]::before {
  @apply inline-flex items-center w-4 mr-6 text-right text-zinc-500;
  counter-increment: line;
  content: counter(line);
}

.mdx code[data-line-numbers-max-digits="2"]>[data-line]::before {
  width: 2rem;
}

.mdx code[data-line-numbers-max-digits="3"]>[data-line]::before {
  width: 3rem;
}

.mdx code .highlighted {
  @apply bg-zinc-300 dark:bg-zinc-700;
}

.mdx code .diff.remove {
  @apply bg-red-500/15;
}

.mdx code .diff.remove::before {
  content: "-";
  @apply text-red-400;
}

.mdx code .diff.add {
  @apply bg-teal-500/15;
}

.mdx code .diff.add::before {
  content: "+";
  @apply text-teal-400;
}

.mdx hr {
  @apply my-3;
}

.mdx .page-break {
  break-after: page;
}

.mdx p code:not(pre code) {
  @apply text-foreground/90 inline-block text-xs bg-zinc-200/80 dark:bg-zinc-800 px-2 py-1 mx-0.5 my-1 rounded-sm;
}

@media print {
  .mdx .page-break {
    height: 0;
    visibility: hidden;
  }

  .mdx h1,
  .mdx h2,
  .mdx p em>strong,
  .mdx li em>strong {
    @apply text-foreground;
  }
}